*{margin:0px;padding:0px;}
ul,li{list-style-type:none;}
input{outline: none;border-radius: 0px;border:0 none;}
html,body {
    font-size: 20px!important;
    min-height: 100%;
    overflow-x:hidden;
	-webkit-tap-highlight-color:rgba(0,0,0,0);	/*禁止链接高亮*/ 	
	-webkit-touch-callout:none;	/*禁止链接长按弹出选项*/
}
@media screen and (min-width: 400px) {
    html,body {
        font-size: 21.3px!important;
    }
}
@media screen and (min-width: 414px) {
    html,body {
        font-size: 22.08px!important;
    }
}
@media screen and (min-width: 480px) {
    html,body {
        font-size: 25.6px!important;
    }
}
@media screen and (min-width: 768px) {
    html,body {
        font-size: 40.96px!important;
    }
}